/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF; /* Subtle light blue background */
}

header {
    background-color: #d9edf7; /* Soft light blue header */
    color: #31708f;
    padding: 1rem;
}


.hero {
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* White text color for nav links */
    background-color: #6495ED; /* Cornflower Blue for the nav background */
    padding: 10px 15px; /* Padding for better touch area */
    border-radius: 5px; /* Rounded corners for a modern look */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color: #4169E1; /* Royal blue color on hover */
}


main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.feature {
    text-align: center;
    margin-bottom: 2rem;
}

.feature img {
    max-width: 300px;
    margin-bottom: 1rem;
}
.introduction {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    color: #333;
}

.introduction p {
    margin-bottom: 1rem;
}

.features {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.feature p {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 600;
}


.hero {
    text-align: center;
    padding: 1rem 0;
}

.logo {
    margin-top: -7rem;
    margin-bottom: -6rem;
}

.logo img {
    max-width: 300px;
    height: auto;
}

.tagline {
    color: #31708f;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

footer {
    background-color: #d9edf7;
    color: #31708f;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}